a {text-decoration: none;
  font-weight: bold;
color: #63096e;}

a:hover {color: #5F3721; }

::selection {background-color: #5F3721;
color: #f1f1f1;}
.address {font-size: 15pt;}

.App {
  text-align: center;
  width: 98.95vw;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  position: relative;
}
.bodytext, .MarketInfo {  border-radius: 3px;}

.bodytext, footer p {background-color: rgba(91, 160, 86, 0.92);}

.bodytext {
  padding: 1px 25px;
  border: 6px solid #5f3721;
  border-radius: 3px;
  width: 64%;
  box-shadow: inset 0px 0px 4px #382210, 1px 1px 10px #382210;
  margin-left: auto;
  margin-right: auto;
}



.bodytext h2, .Demeter, header p {font-family: 'Mate SC', serif;}

.bodytext h2 {margin-top: 0.5%;
margin-bottom: 1.5%;}

.cityRow p {margin: 0;

}
.container {width: 100%;
  background: url('./media/background.jpg');
  background-size: 140% 150%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  min-height: 100vh;
}

.corn {height: 50px;
padding-top: 9px;}

.Demeter {white-space: nowrap;
  display: flex;
  flex-direction: row;
  font-size: 22pt;
position: absolute;
user-select: none;
left: 7px;}

.Demeter h1 {margin: 0;
  text-shadow: -2px 0px #641b0e, 0px -2px #641b0e, 2px 0px #641b0e, 0px 2px #641b0e, 1px 1px 5px #000000;
padding-left: 8px;}

form {position: absolute;
right: 9px;
top: 15px;}

footer {  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  
  height: 60px;
text-align: center;}

footer p {
  width: 18%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: inset 0px 0px 2px #382210, 1px 1px 3px #382210;
  border-radius: 2px;
  padding: 5px 0px;
  border: 4px solid #5f3721;
}

header {position: fixed;
  width: 100%;
top: 0;
color: #f1f1f1;
height: 70px;
box-shadow: -1px 0px 6px #0d160c;
background-color: #1e3f22;}

header p {white-space: nowrap;
text-align: center;
width: 490px;
user-select: none;
margin-top: 1.5%;
text-shadow: 1px 1px 5px #000000;
font-size: 26pt;}


input {font-size: 13pt;
}

.left {width: 100%;}

li {margin-top: 6px;}


.MarketSearch {  padding-top: 90px;
  width: 100%;
padding-bottom: 70px;}


.MarketInfo {text-align: left;
  padding: 0.5vw 1.5vw;
  background-color: rgba(216, 209, 209, 0.2);
  box-shadow: 1px 1px 3px #203810;
  padding-bottom: 1.4vw;
margin-bottom: 1.5%;}

.marketName {font-size: 25pt;
  text-align: center;
color:  #442312;}

::placeholder {
  color: #cfbeab;
  font-weight: initial;
}

.right {display: flex; 
text-align: right;}

.row {display: flex;
flex-direction: row;
justify-content: center;
}

.schedule {font-size: 13pt;}

.sellingHeader {margin-bottom: 0;}

ul {list-style: none;
  margin: 0;
padding: 0;}

.zipInput {background-color: #43773e;
  position: relative;
  border: 2px solid #5F3721;
  padding-left: 5px;
  padding-top: 5px;
  box-shadow: inset 1px 1px 3px #0e1d0c;
  text-shadow: 1px 1px 2px #000000;
  color: #f1f1f1;
  font-weight: 550;
  left: -2px;
  width: 175px;
height: 25px;}

button, .submit {background-color: #9b552d;
  user-select: none;
  text-shadow: 1px 1px 3px #000000;
  border: 2px solid #5F3721;
  border-radius: 2px;
  height: 34.5px;
  font-weight: bold;
  font-size: 12pt;
color: #f5cc9e;}

button {margin: 7px 0;}

button:hover, .submit:hover {cursor: pointer;
  background-color: #f5cc9e;
  text-shadow: 1px 1px 3px #bb8769;
color: #9b552d; }

.submitButton {  text-shadow: 1px 0px #331d11, -1px 0px #331d11, 0px -1px #331d11, 0px 1px #331d11, 1px 1px 3px #000000;
  position: relative;
  padding-top: 2px;
  top: -2px;
}

button:active {position: relative;
top: 2px;}

.submitButton:active {top: 0px;}

@media only screen and (max-width: 1111px) and (min-width: 851px){ 
  .App {width: 100vw;}
  
  .zipInput {width: 140px;}

  .Demeter h1 {font-size: 29pt;
  padding-top: 18px;}
  header p { font-size: 20pt;
    padding-top: 12px;}
}

@media only screen and (max-width: 850px) and (min-width: 501px){
  .App {width: 100vw;}
  
  .zipInput {width: 140px;}

  .Demeter h1 {font-size: 29pt;
  padding-top: 18px;}
  header p {display: none;}

}

@media only screen and (max-width: 500px) {
  .App {width: 100vw;}
  
  .Demeter h1 {font-size: 29pt;
    padding-top: 18px;}

  header p  {display: none}

.zipInput {width: 130px;}
}

