.App {
  text-align: center;
  width: 98.95vw;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  position: relative;
}

.bodytext, footer p {background-color: rgba(91, 160, 86, 0.92);}

.bodytext {
  padding: 1px 25px;
  border: 6px solid #5f3721;
  border-radius: 5px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.bodytext h2, .Demeter, header p {font-family: 'Mate SC', serif;}

.container {width: 100%;
  background: url('./media/background.jpg');
  background-size: 140% 150%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  min-height: 100vh;
}

.corn {height: 50px;
padding-top: 9px;}

.Demeter {white-space: nowrap;
  display: flex;
  flex-direction: row;
  font-size: 22pt;
position: absolute;
left: 0.5%;}

.Demeter h1 {margin: 0;
padding-left: 8px;}

form {position: absolute;
right: 8px;
top: 15px;}

footer {  position: absolute;
  bottom: 0;
  width: 100%;
text-align: center;}

footer p {
  width: 18%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
  border: 4px solid #5f3721;
  border-radius: 2px;
}

header {position: fixed;
  width: 100%;
top: 0;
color: #fffff1;
height: 70px;
background-color: #1e3f22;}

header p {white-space: nowrap;
text-align: center;
width: 490px;
margin-top: 1.5%;
font-size: 26pt;}

input {font-size: 12pt;
}

.left {width: 100%;}

.MarketSearch {  padding-top: 90px;
  width: 100%;
padding-bottom: 70px;}

.MarketInfo {text-align: left;}

.marketName {font-size: 24pt;}

.right {display: flex; 
text-align: right;}

.row {display: flex;
flex-direction: row;
justify-content: center;
}

ul {list-style: none;
padding: 0;}

.zipInput {background-color: #6fbd69;
height: 29px;}

button, .submit {background-color: #96522a;
  height: 35px;
  font-size: 12pt;
color: #f5cc9e;}

button:active {position: relative;
top: 2px;}